@use "@angular/material" as mat;
@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

// Define palettes
$primary: mat.m2-define-palette($primary-colors);
$accent: mat.m2-define-palette(mat.$m2-light-blue-palette, 500);
$warn: mat.m2-define-palette(mat.$m2-red-palette, 600);

// Define typography
$typography: mat.m2-define-typography-config(
  $headline-1: mat.m2-define-typography-level(96px, 96px, 300),
  $headline-2: mat.m2-define-typography-level(60px, 60px, 300),
  $headline-3: mat.m2-define-typography-level(48px, 48px, 400),
  $headline-4: mat.m2-define-typography-level(34px, 40px, 400),
  $headline-5: mat.m2-define-typography-level(24px, 32px, 400),
  $headline-6: mat.m2-define-typography-level(20px, 32px, 500),
  $subtitle-1: mat.m2-define-typography-level(16px, 24px, 400),
  $subtitle-2: mat.m2-define-typography-level(14px, 21px, 500),
  $body-1: mat.m2-define-typography-level(16px, 24px, 400),
  $body-2: mat.m2-define-typography-level(14px, 20px, 400),
  $button: mat.m2-define-typography-level(14px, 14px, 500),
  $caption: mat.m2-define-typography-level(12px, 20px, 400),
  $overline: mat.m2-define-typography-level(10px, 16px, 400),
  $font-family: $font-family-base,
);

// Define the theme
$default-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: $typography,
    density: -2,
  )
);

// Apply Angular Material core styles (required once)
@include mat.core();

// Apply typography styles globally (ensures body/font consistency)
@include mat.typography-hierarchy($typography);

// Apply the theme to all Angular Material components
@include mat.all-component-themes($default-theme);

// Apply default theme globally to all autocomplete panels
:root {
  // Options styling
  --mat-option-label-text-font: $font-family-base;
  --mat-option-label-text-line-height: 1rem;
  --mat-option-hover-state-layer-color: #eee;
  --mat-option-label-text-size: 16px; //default
  --mat-option-label-text-weight: 400; // default
  --mat-option-selected-state-layer-color: #ffb300;
  @include mat.autocomplete-overrides(
    (
      container-elevation-shadow: 1px 1px 0.25px rgba(0, 0, 0, 0.2),
    )
  );
}
