@use "../abstracts/variables" as gv;
@use "../abstracts/placeholders" as *;

.brand-color {
  color: var(--brand-color);
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.full-size {
  @extend %full-size;
}

.flex-grow {
  flex-grow: 1;
}

.f-r-f-w {
  @extend %f-r;
  flex-wrap: wrap;
}

.f-r-ai-c {
  @extend %f-r;
  align-items: center;
}

.f-r-jc-c {
  @extend %f-r;
  justify-content: center;
}

.f-c-jc-s {
  @extend %f-c;
  justify-content: flex-start;
}

.f-c-ai-c {
  @extend %f-c;
  align-items: center;
}

.f-c-jc-c {
  @extend %f-c;
  justify-content: center;
}

.jf-c-sb {
  justify-content: space-between;
}

.gap-1em {
  gap: 1em;
}

.gap-0_5em {
  gap: 0.5em;
}

.jc-center {
  justify-content: center;
  text-align: center;
}

.pd-20px {
  padding: 20px;
}

.pd-top-20px {
  padding-top: 20px;
}

.opacity {
  opacity: 0.6;
}

.self-center {
  align-self: center;
}

.page-title {
  font-size: 20px;
  font-weight: 600;
  color: gv.$primary-color;
}

.pointer {
  cursor: pointer;
}

.filter-icon:hover {
  background-color: rgba(234, 234, 234, 1);
}
