@use "abstracts/colors" as c;
@use "abstracts/functions" as fn;
@use "abstracts/variables" as gv;

h2 {
  font-size: fn.rem(24); //fallback
  font-size: fn.get_clamp(24px, 32px);
}

h3 {
  font-size: fn.rem(36); //fallback
  font-size: fn.get_clamp(36px, 48px);
}

label,
p,
span,
time,
select option {
  font-size: 0.75rem;
  font-size: fn.get_clamp(12px, 14px);
}

svg {
  background-size: contain;
  font-size: 1.5em;
  width: 25px;
  height: 25px;
}
