// =============================
// Main SASS entry (7-1 pattern)
// =============================
// Order: abstracts > base > layout > components > vendors > themes

@use "abstracts" as *;
@use "base";
@use "layout";
@use "components" as *;
@use "vendors-extensions" as *;
@use "themes/default-theme";
@use "./utilities/utilities.scss" as *;

html,
body {
  height: 100%;
}
