@use "sass:map"; // Add map module for map.get()
@use "@angular/material" as mat;
@use "../abstracts/colors" as app-colors;

// 1️⃣ Define base M3 theme configuration
$b-typography: (
  plain-family: "Roboto, sans-serif",
  brand-family: "Roboto, sans-serif",
  bold-weight: 700,
  medium-weight: 500,
  regular-weight: 400,
);

$b-theme:(theme-type: light, primary:mat.$azure-palette, tertiary: mat.$orange-palette);
$b-density: (scale:-5);

$theme: mat.define-theme((color: $b-theme, typography: $b-typography, density: $b-density));

html{
  @include mat.core-theme($theme);
  @include mat.all-component-themes($theme);
}

body {
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}