@use "sass:color";
@use "abstracts/breakpoints" as bp;
@use "abstracts/flex" as mx;
@use "abstracts/colors" as app-colors;

:host {
  width: 100%;
}

.autocomplete {
  &__container {
    @include mx.flex(row, center, center);
    background: var(--app-surface);
    border-radius: 4px;
    border: 1px solid var(--app-on-surface);
    transition: border-color 0.3s;
    gap: 8px;

    &:focus-within {
      border-color: app-colors.$brand-orange;
      box-shadow: 0 0 0 3px rgba(app-colors.$brand-orange, 0.3);
    }
  }

  &__category-dropdown {
    width: 160px;

    .mat-mdc-form-field {
      width: 100%;
    }
  }

  &__search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    background: transparent;
    color: var(--app-on-surface);

    &:focus {
      outline: none;
    }
  }

  &__clear-button,
  &__search-button {
    @include mx.flex(row, center, center);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background-color 0.2s;
    color: var(--app-on-surface);

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px rgba(var(--mdc-theme-primary), 0.3);
    }
  }

  &__search-button {
    background-color: app-colors.$brand-orange;
    border-radius: 0 4px 4px 0;
    color: white;

    &:hover {
      background-color: color.adjust(app-colors.$brand-orange, $lightness: -5%);
    }

    svg {
      fill: currentColor;
    }
  }

  @include bp.breakpoint-down(md) {
    margin-top: 0.5rem;
  }
}
