/**
 * Autocomplete Component Styles
 * ---------------------------
 * This file contains custom styles for customizing Material Angular's autocomplete component t component level across the application.
 * 
 * Usage:
 * 1. Add class="no-option-check" in any component
 * 2. This will hide the check mark that appears by default in the options
 * 
 * Example:
 * <mat-autocomplete class="no-option-check">
 *   <mat-option>Option content</mat-option>
 * </mat-autocomplete>
 */

.cdk-overlay-container {
  .no-option-check {
    .mat-mdc-option {
      --mat-option-selected-state-layer-color: transparent;
      --mat-option-selected-state-label-text-color: black;
      .mat-pseudo-checkbox {
        display: none;
      }
    }
  }

  .mat-mdc-autocomplete-panel {
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    margin-top: 4px;

    .mat-mdc-option {
      padding: 8px 12px;
      min-height: 36px;

      &.mdc-list-item--selected {
        color: yellow;
        font-weight: 500;
      }

      .mdc-list-item__primary-text {
        font-size: 14px;
      }
    }
  }
}
