@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.fab-overrides((
    container-color: orange,
    container-elevation-shadow: -4px -4px 5px 0px rgba(0, 0, 0, 0.5),
  ));
}

button.mdc-button{
  .mdc-button__label{
    text-wrap-mode: nowrap;
  }
}
