@use "@angular/material" as mat;
@use "sass:map";
@use "../abstracts/variables" as *;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.card-overrides((
    elevated-container-color: #ffffff,
    elevated-container-elevation: red,
  ));
}

// -------------------------------------------------
// Material Card Spacing (using spacing utilities)
// -------------------------------------------------

@mixin card-spacing($scale) {
  .mat-mdc-card-header {
    padding: $space $space 0 !important;
  }

  .mat-mdc-card-content {
    padding: 0 $space !important;
  }

  .mat-mdc-card-actions {
    padding: 0 $space $space !important;
  }
}

// Get values from your $spacer-scale
$space: map.get($spacer-scale, 7);
@include card-spacing($space);