@use "@angular/material" as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.card-overrides((
    elevated-container-color: #ffffff,
    elevated-container-elevation: red,
  ));
}

$pixel:25px;
$b-h-padding: $pixel $pixel 0 !important;
$b-c-padding: 0 $pixel !important;
$b-a-padding: 0 $pixel $pixel !important;
.mat-mdc-card-header{
  padding: $b-h-padding;
}
.mat-mdc-card-content{
  padding: $b-c-padding;
  margin-block: 1rem !important;
}
.mat-mdc-card-actions{
  padding: $b-a-padding;
}