@use "@angular/material" as mat;

:root{
    @include mat.form-field-overrides((
    outlined-outline-width: 1px,
    outlined-focus-outline-width:2px,
    outlined-container-shape:3px,
  ));
}

mat-form-field{ width: 100%;}