@use "@angular/material" as mat;
@use "sass:map";
@use "../abstracts/variables" as *;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  --mat-option-selected-state-layer-color:#dae2f9;
  @include mat.select-overrides((
    panel-background-color: #ffffff,
    disabled-trigger-text-color: gray,
  ));
}

mat-option{
  min-height: $h-40 !important;

  &.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple)
  {
    border-left: $h-2 solid $primary-color;
  }
  .mat-pseudo-checkbox {
    display: none;
  }
}
