@use "../../../styles/abstracts/breakpoints" as bp;

:host {
  width: 100%;
}

.autocomplete {
  &__search {
    background: #fff;
    border-radius: 4px;
    padding: 0.15rem 0.5rem;

    &-input {
      border: none;
      outline: none;
      padding: 0.5rem;
      font-size: 1rem;
      border-radius: 1px;
      width: 100%;
    }

    @include bp.breakpoint-down(md) {
      margin-top: 0.5rem;
    }
  }
}
