<div class="autocomplete">
    <input type="text" class="autocomplete__search-input" placeholder="Search for products..." aria-label="Search"
        matInput [formControl]="searchControl" [matAutocomplete]="auto" />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" panelClass="no-option-check">
        @for (option of filteredOptions(); track option) {
        <mat-option [value]="option" class="autocomplete__search-option">{{ option }}</mat-option>
        }
    </mat-autocomplete>
</div>